.main__content__result__border {
    &__meme1 {
        background-image: url("../assets/images/memes/meme1.png");
    }
    &__meme2 {
        background-image: url("../assets/images/memes/meme2.png");
    }
    &__meme3 {
        background-image: url("../assets/images/memes/meme3.png");
    }
    &__meme4 {
        background-image: url("../assets/images/memes/meme4.png");
    }
    &__meme5 {
        background-image: url("../assets/images/memes/meme5.png");
    }
    &__meme6 {
        background-image: url("../assets/images/memes/meme6.png");
    }
    &__meme7 {
        background-image: url("../assets/images/memes/meme7.png");
    }
    &__meme8 {
        background-image: url("../assets/images/memes/meme8.png");
    }
}
  